/*
=============== 
Variables
===============
*/

:root {
  --clr-bg: rgb(250, 250, 35);
  --clr-app-bg: rgb(247, 245, 245);
  --clr-lrg-txt: rgb(58, 57, 57);
  --clr-small-txt: rgb(16, 16, 16);
  --clr-light-txt: rgb(247, 245, 245);
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg);
  color: var(--clr-small-txt);
}

/*
=============== 
Project Styles
===============
*/

section {
  background-color: var(--clr-app-bg);
  width: 80vw;
  height: 100%;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: var(--clr-lrg-txt);
}

.gas-prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gas-type:nth-child(1) {
  background-color: red;
}
.gas-type:nth-child(2) {
  background-color: green;
}
.gas-type:nth-child(3) {
  background-color: blue;
}

.gas-type {
  margin-top: 10px;
  height: 80px;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="radio"] {
  font-size: 2rem;
  padding-top: 10px;
  margin: 0 auto;
}

.label {
  font-size: 20px;
  margin-top: 10px;
}

.meters {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.gallon-counter,
.dollar-counter {
  background-color: var(--clr-lrg-txt);
  width: 40%;
  color: var(--clr-app-bg);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.icon,
.btn-p {
  font-size: 4rem;
  color: var(--clr-lrg-txt);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-btn-dark);
}

.btn-start {
  background-color: lightgreen;
}

.btn-stop {
  background-color: lightcoral;
}
