/*
=============== 
Variables
===============
*/

:root {
  --clr-bg: rgb(220, 233, 243);
  --clr-app-bg: rgb(247, 245, 245);
  --clr-lrg-txt: rgb(58, 57, 57);
  --clr-small-txt: rgb(16, 16, 16);
  --clr-light-txt: rgb(247, 245, 245);
  --clr-btn-bg: #dfe0e2;
  --clr-meter-bg: rgb(170, 169, 169);
  --clr-border-btn: rgb(16, 16, 16);
  --clr-active-btn: #366df7;
  --clr-start-btn: rgb(5, 199, 5);
  --clr-stop-btn: rgb(209, 33, 33);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --med-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg);
  color: var(--clr-small-txt);
}

/*
=============== 
Project Styles
===============
*/

h1 {
  text-align: center;
}
section {
  background-color: var(--clr-app-bg);
  width: 80vw;
  height: 100%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--med-shadow);
}
h1 {
  font-size: 3rem;
  color: var(--clr-lrg-txt);
  padding-top: 2rem;
}
h3 {
  padding-top: 1rem;
}
.gas-prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gas-type-btn {
  background-color: var(--clr-btn-bg);
  border-radius: 10px;
  margin-top: 10px;
  height: 60px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: var(--med-shadow);
}
.gas-type-btn:hover {
  cursor: pointer;
  border: 4px solid var(--clr-border-btn);
}
.price {
  display: block;
  font-size: 15px;
}
.active {
  background-color: var(--clr-active-btn);
  box-shadow: none;
}
.startstop-btn {
  padding-top: 1rem;
}
.btn {
  font-size: 3rem;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-btn-dark);
}
.btn-start,
.btn-stop {
  border-radius: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.btn-start {
  background-color: var(--clr-start-btn);
  box-shadow: var(--dark-shadow);
}
.btn-stop {
  background-color: var(--clr-stop-btn);
  border: 5px solid black;
}
.btn-start:hover,
.btn-stop:hover {
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  border: 2px solid black;
}
.meters {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.gallon-counter,
.dollar-counter {
  background-color: var(--clr-meter-bg);
  width: 40%;
  color: var(--clr-small-txt);
  padding: 10px 8px;
  font-weight: bold;
  border-radius: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  .gallon-counter p,
  .dollar-counter p {
    font-size: 2rem;
    padding: 20px 0;
  }

  .gallon-counter,
  .dollar-counter {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }
}
