/*
=============== 
Variables
===============
*/

:root {
  --clr-bg: rgb(247, 245, 245);
  --clr-app-bg: rgb(247, 245, 245);
  --clr-btn-bg: darkgray;
  --clr-lrg-txt: rgb(58, 57, 57);
  --clr-small-txt: rgb(16, 16, 16);
  --clr-light-txt: rgb(247, 245, 245);
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg);
  color: var(--clr-small-txt);
}

/*
=============== 
Project Styles
===============
*/

section {
  background-color: var(--clr-app-bg);
  width: 80vw;
  height: 100%;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: var(--clr-lrg-txt);
}

.gas-prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .gas-type:nth-child(1) {
  background-color: red;
}
.gas-type:nth-child(2) {
  background-color: green;
}
.gas-type:nth-child(3) {
  background-color: blue;
} */

.gas-type-btn {
  border-radius: 10px;
  margin-top: 10px;
  height: 80px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid blue;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  display: block;
  font-size: 18px;
}

.active {
  background-color: rgb(95, 95, 247);
}

/* button {
  font-size: 25px;
} */

.meters {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.gallon-counter,
.dollar-counter {
  background-color: var(--clr-btn-bg);
  width: 40%;
  color: var(--clr-small-txt);
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
}

.startstop-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.icon {
  font-size: 4rem;
  color: var(--clr-lrg-txt);
}

button:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px var(--clr-btn-dark); */
}

.btn-start,
.btn-stop {
  border-radius: 10px;
  padding: 5px 20px;
}

.btn-start {
  background-color: lightgreen;
}
.btn-stop {
  background-color: lightcoral;
}
